@font-face {
    font-family: opensans;
    src: url("font/OpenSans-Regular.ttf");
}

html, body, #intro, .bg-image {
    height: 100%;
    width: 100%;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    margin-left: 107px;
    margin-right: 142px;
    font-family: 'opensans';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
}

.signup {
    margin-left: 391px;
    margin-right: 9.17px;
}

.home {
    margin-right: 32px;
}

.nav-item {
    font-family: 'opensans';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.1em;
    color: white !important;
}

#intro {
    position: relative;
    width: 100%;
    height: 1100px;
    background: white;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.83)), url("image/slide1.png");
    background-size: cover;
}

.top-wrapper h1 {
    padding-top: 360px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

.top-wrapper h3 {
    margin-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center
}

.btn {
    background-color: #FFB548;
    padding: 19px 90px;
    color: #1A1917;
    font-family: 'opensans';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin-left: 635px;
    margin-top: 65px;
}

.story p {
    margin-top: 320px;
    font-family: 'opensans';
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    text-align: center;
}

.story svg {
    position: absolute;
    width: 20.25px;
    height: 8.17px;
    left: 750px;
    top: 1030px;
}

.slide {
    position: relative;
    width: 100%;
    height: 1051px;
    background: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("image/slide2.png");
    background-size: cover;
}

.slide h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    padding-top: 283px;
    margin-left: 69px;
}

.slide h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    letter-spacing: 3px;
    line-height: 64px;
    color: white;
    margin-top: 0px;
    margin-left: 68px;
}

.carousel {
    position: absolute;
    width: 858px;
    height: 477px;
    margin: -87px 0 282px 500px;
}

.carousel-indicators li {
    margin-right: 50px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2.3px solid #FFFFFF;
    background: transparent;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-control-next-icon {
    position: absolute;
    margin-left: 160px;
    background-image: url("image/switchnext.svg");
}

.carousel-control-prev-icon {
    position: absolute;
    margin-right: 160px;
    background-image: url("image/switchprev.svg");
}

.feature-section {
    margin-top: -5px;
    height: 920px;
    width: 100%;
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("image/slide3.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.feature {
    width: 45%;
    float: right;
    margin-top: 12rem;
}

.feature h3 {
    font-size: 1.7rem;
}

.feature h1 {
    margin-bottom: 65px;
    font-size: 3.7rem;
}

.feature-list h3 {
    color: #FFB548;
}

.feature-list p {
    width: 65%;
}

ul.feature-list {
    position: relative;
    list-style-type: none;
}

ul.feature-list:before {
    position: absolute;
    left: 8.2px;
    width: 2px;
    height: 49%;
    top: 0.95rem;
    z-index: 5;
    content: ' ';
    background: white;
    display: inline-block;
}

ul.feature-list>li {
    margin: 20px 0;
    margin-bottom: 5rem;
    padding-left: 20px;
}

ul.feature-list>li:before {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 1.3px;
    width: 16px;
    height: 16px;
    z-index: 5;
    content: ' ';
    border: 2px solid white;
    background-color: transparent;
}

li.active-list::before {
    background-color: white!important;
}

.requirement-section {
    margin-top: -5px;
    height: 1000px;
    width: 100%;
    background-image: radial-gradient(43.26% 45% at 57.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("image/slide4.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.requirement {
    height: 85%;
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.requirement h3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: auto;
    margin-top: 1rem;
    font-size: 0.9rem;
    left: 0;
    right: 0;
    text-align: center;
}

.requirement h1 {
    width: 50%;
    font-size: 3.7rem;
}

.row-container {
    margin-top: 8rem;
    width: 50%;
}

.col {
    border: 1px solid #363636;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    color: #FFB548;
}

.description {
    width: 75%;
}

.top-scores-section {
    position: relative;
    width: 100%;
    height: 1000px;
    background: black;
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url("image/slide5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-scores {
    float: left;
    width: 27%;
    margin-top: 50vh;
    margin-left: 10vh;
    margin-right: 0;
}

.top-scores h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-scores p {
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#see-more {
    border: none;
    font-family: 'opensans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-left: 0;
}

.quote {
    position: absolute;
    width: 50%;
    float: right;
    margin-top: 25vh;
    margin-left: 100vh;
}

#quote1 {
    padding-left: 25vh;
    padding-bottom: 4vh;
}

#quote2 {
    padding-bottom: 4vh;
}

#quote3 {
    padding-left: 15vh;
}

.newsletter-section {
    position: absolute;
    width: 100%;
    height: 1000px;
    background: black;
    background-image: url("image/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter {
    float: left;
    width: 40%;
    margin-top: 10vh;
    margin-left: 12vh;
    margin-right: 0;
}

.newsletter-subscribe {
    position: absolute;
    width: 45%;
    float: right;
    margin-top: 28vh;
    margin-left: 100vh;
    padding-right: 15vh;
}

.newsletter-subscribe h3 {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 27.6px;
    letter-spacing: 2px;
    color: white;
}

.newsletter-subscribe h1 {
    width: 50%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.newsletter-subscribe p {
    width: 100%;
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 5vh;
}

form {
    float: left;
    width: 55%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    color: #FFB548;
}

.btn-subscribe {
    width: 40%;
    float: right;
    margin-top: -8vh;
    padding: 2vh 5vh;
}

label {
    padding: 1vh 2vh 0 2vh;
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

input {
    padding: 0 2vh 1vh 2vh;
    background: transparent;
    border: transparent;
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.email-address {
    color: #FFB548;
}

input[name="emailAddress"] {
    color: #FFB548;
}

footer {
    width: 100%;
    margin-top: 110vh;
    color: white;
}

footer li {
    display: inline;
}

hr {
    display: block;
    color: white;
    opacity: 0.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15vh;
    margin-right: 15vh;
    border-style: inset;
    border-width: 1px;
}

.bottom-nav-section {
    margin-left: 55vh;
    margin-bottom: 5vh;
}

.bottom-nav {
    text-decoration: white;
    margin-right: 7vh;
    font-family: 'opensans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

#bottom-nav-icon {
    margin-left: 6vh;
    margin-right: 5vh;
}

.bottom-icon {
    margin-right: 5vh;
}

.copyright-section {
    margin-left: 10vh;
}

#copyright {
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#privacy {
    margin-left: 80vh;
    font-family: 'opensans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}