<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <title>Fight || Create Room</title>
</head>

<body>
    <div class="login-form">
        <form action="/api/v1/create-room" method="POST">
            <h2 class="text-center">Create Room</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Room's Name" name="name" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mt-2">Create</button>
            </div>
        </form>
        <p class="text-center"><a href="/join-room">Join a Room</a></p>
    </div>
</body>

</html>