<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
        <title>Fight || Join Room</title>
</head>

<body>
    <div class="login-form">
        <form action="/api/v1/join-room" method="POST">
            <h2 class="text-center">Join Room</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Room's Name" name="name" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mt-2">Join</button>
            </div>
        </form>
        <p class="text-center"><a href="/create-room">Create a Room</a></p>
    </div>
</body>

</html>
