<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, 
    user-scalable=0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styleCH4.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGH aHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg p-4">
        <a href="/">
            <img src="image/backButton.svg" alt="Back Button">
        </a>
        <a>
            <img class="ms-5 w-50" src="image/logoGame.svg" alt="">
        </a>
        <h1 class="text-uppercase">rock paper scissors</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex flex-column text-center px-3">
                <h2>Player 1</h2>
                <a id="batu-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="image/batu.png" alt="batu">
                </a>
                <a id="kertas-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="image/kertas.png" alt="kertas">
                </a>
                <a id="gunting-p1" class="w-50 mx-auto clicked-part" href="#" onclick="clicked(this.id)">
                    <img class="w-50 my-3" src="image/gunting.png" alt="gunting">
                </a>
            </div>
            <div class="col-2 d-flex flex-column text-center">
                <div id="versus" class="my-auto">
                    <h1>VS</h1>
                </div>
                <div id="changeable" class="my-auto mx-auto text-center text-white"></div>
                <a class="w-100" href="#" onclick="refresh()">
                    <img class="w-50" src="image/refresh.png" alt="refresh">
                </a>
            </div>
            <div class="col-5 d-flex flex-column text-center px-3">
                <h2 class="text-center">Comp</h2>
                <a id="batu-comp" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="image/batu.png" alt="batu">
                </a>
                <a id="kertas-comp" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="image/kertas.png" alt="kertas">
                </a>
                <a id="gunting-comp" class="w-50 mx-auto clicked-part" href="#">
                    <img class="w-50 my-3" src="image/gunting.png" alt="gunting">
                </a>
            </div>
        </div>
    </div>
</body>
<script>
    let count = 0;
    let clickedPart;
    const bg_card = "#c4c4c4";
    const batuComp = document.getElementById("batu-comp");
    const kertasComp = document.getElementById("kertas-comp");
    const guntingComp = document.getElementById("gunting-comp");
    const versus = document.getElementById("versus");
    const changeable = document.getElementById("changeable");
    const draw = '<h3 class="position-absolute top-50 start-50 translate-middle">Draw!</h3>';
    const p1_win = '<h3 class="position-absolute top-50 start-50 translate-middle">Player 1 Win!</h3>';
    const comp_win = '<h3 class="position-absolute top-50 start-50 translate-middle">Com Win!</h3>';
    const drawColor = "#035B0C";
    const winColor = "#4C9654";
    function clicked(choice) {
        if (count != 1) {
            versus.style.display = "none";
            changeable.style.display = "block";
            let rand = Math.floor(Math.random() * 3) + 1;
            clickedPart = document.getElementById(choice);
            clickedPart.style.backgroundColor = bg_card;
            count++;
            switch (rand) {
                case 1:
                    batuComp.style.backgroundColor = bg_card;
                    break;
                case 2:
                    kertasComp.style.backgroundColor = bg_card;
                    break;
                case 3:
                    guntingComp.style.backgroundColor = bg_card;
                    break;
            }
            switch (choice) {
                case "batu-p1":
                    switch (rand) {
                        case 1:
                            changeable.innerHTML = draw;
                            changeable.style.backgroundColor = drawColor;
                            break;
                        case 2:
                            changeable.innerHTML = comp_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                        case 3:
                            changeable.innerHTML = p1_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                    }
                    break;
                case "kertas-p1":
                    switch (rand) {
                        case 1:
                            changeable.innerHTML = p1_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                        case 2:
                            changeable.innerHTML = draw;
                            changeable.style.backgroundColor = drawColor;
                            break;
                        case 3:
                            changeable.innerHTML = comp_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                    }
                    break;
                case "gunting-p1":
                    switch (rand) {
                        case 1:
                            changeable.innerHTML = comp_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                        case 2:
                            changeable.innerHTML = p1_win;
                            changeable.style.backgroundColor = winColor;
                            break;
                        case 3:
                            changeable.innerHTML = draw;
                            changeable.style.backgroundColor = drawColor;
                            break;
                    }
                    break;
            }
        }
    }
    function refresh() {
        count = 0;
        clickedPart.style.backgroundColor = "";
        batuComp.style.backgroundColor = "";
        kertasComp.style.backgroundColor = "";
        guntingComp.style.backgroundColor = "";
        changeable.style.backgroundColor = "";
        changeable.style.display = "none";
        versus.style.display = "block";
    }
</script>

</html>
