<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="../../styleCH3.css">

  <title>Binar Challenge FW C3</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark text-white fixed-top">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nvgtn">
          <li class="nav-item">
            <a class="nav-link home active" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link home active" href="#">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link home active" href="#">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link home active" href="#">ABOUT ME</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link signup active" href="#">SIGN UP<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div id="intro" class="top-wrapper bg-gradient-dark">
      <div class="full-bg-image">
        <h1>PLAY TRADITIONAL GAME</h1>
        <h3>Experience new traditional game play</h3>
      <a href="/game">
        <button type="button" class="btn btn-warning" >TRIAL</button>
      </a>
        <div class="story">
          <p>THE STORY</p>
          <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="slide">
        <div>
          <h3>What's so special?</h3>
          <h1>THE GAMES</h1>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="image/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="image/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="image/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="image/slider1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="image/slider1.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="feature-section">
        <div class="feature">
          <h3>What's so special?</h3>
          <h1>FEATURES</h1>
          <ul class="feature-list">
            <li class="active-list">
              <h3>TRADITIONAL GAMES</h3>
              <p>If you miss your childhood, we provide many traditional games here</p>
            </li>
            <li>
              <h3>GAME SUIT</h3>
            </li>
            <li>
              <h3>TBD</h3>
            </li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="requirement-section">
          <div class="requirement">
            <h3>Can My Computer Run This Game?</h3>
            <h1>SYSTEM REQUIREMENTS</h1>
            <div class="row-container">
              <div class="row">
                <div class="col">
                  <p class="title">OS: </p>
                  <p class="description">Windows 7 64-bit only (No OSX support at this time)</p>
                </div>
                <div class="col">
                  <p class="title">PROCESSOR: </p>
                  <p class="description">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="title">MEMORY:</p>
                  <p class="description">4 GB RAM</p>
                </div>
                <div class="col">
                  <p class="title">STORAGE: </p>
                  <p class="description">8 GB available space</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p class="title">GRAPHICS: </p>
                  <p class="description">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="top-scores-section">
          <div class="top-scores">
            <h1>TOP SCORES</h1>
            <p>This top score from various games provided on this platform</p>
            <button type="button" id="see-more" class="btn btn-primary btn-lg">see more</button>
          </div>
          <div class="quote">
            <img id="quote1" src="image/quote1.png" /><br>
            <img id="quote2" src="image/quote2.png" /><br>
            <img id="quote3" src="image/quote3.png" />
          </div>
        </div>
      </div>
      <div class="newsletter-section">
        <div class="newsletter">
          <img src="image/image.png">
        </div>
        <div class="newsletter-subscribe">
          <h3>Want to stay in touch?</h3>
          <h1>NEWSLETTER SUBSCRIBE</h1>
          <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will
            be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
          <div class="form">
            <form>
              <label>Your email address</label>
              <input type="email" class="email-address" name="emailAdress" placeholder="youremail@binar.co.id">
            </form>
            <button type="button" class="btn btn-subscribe btn-warning">Subscribe now</button>
          </div>
        </div>
        <footer>
          <ul class="bottom-nav-section">
            <li class="bottom-nav"><a href="#!" class="text-white">MAIN</a></li>
            <li class="bottom-nav"><a href="#!" class="text-white">ABOUT</a></li>
            <li class="bottom-nav"><a href="#!" class="text-white">GAME FEATURES</a></li>
            <li class="bottom-nav"><a href="#!" class="text-white">SYSTEM REQUIREMENTS</a></li>
            <li class="bottom-nav"><a href="#!" class="text-white">QUOTES</a></li>
            <li id="bottom-nav-icon"><a href="#!"><img src="image/facebook.png"></a></li>
            <li class="bottom-icon"><a href="#!"><img src="image/twitter.png"></a></li>
            <li class="bottom-icon"><a href="#!"><img src="image/youtube.png"></a></li>
            <li class="bottom-icon"><a href="#!"><img src="image/comment.png"></a></li>
          </ul>
          <hr>
          <ul class="copyright-section">
            <li id="copyright">© 2018 Your Games, Inc. All Rights Reserved</li>
            <li id="privacy">Privacy Policy | Terms of Services | Code of Conduct </li>
          </ul>
        </footer>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>